name: infra_monolithik


trigger: none

pool: Remote_Agent

variables:
- name: WORKDIR # Required as first property. Variable name.
  value: $(System.DefaultWorkingDirectory)/env # Variable value.
- group: Variable_Collection
- name: WORK
  # value: 'ANIKET_Shared_Connection'



parameters:
  - name: envrionment
    displayName: Details of ENVS
    values:
      - dev
      - prod
    default: dev

stages:
  - stage: Terraform_Install
    jobs:
      - job: 
        steps:
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              # Write your commands here
              
              echo 'zip install'
              sudo apt install unzip
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(WORKDIR)/${{ parameters.envrionment }}'
            backendServiceArm: 'ANIKET_Shared_Connection'
            backendAzureRmStorageAccountName: 'backendstrg'
            backendAzureRmContainerName: 'strg'
            backendAzureRmKey: 'dev.terraform.tfstate'

        - task: DownloadSecureFile@1
          name: TFVARS_Download
          inputs:
            secureFile: '${{ parameters.envrionment }}.tfvars'

        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: 
              # Write your commands here
              echo 'Copy TFVARS File'
              cp "$(TFVARS_Download.SecureFilePath)" "$(WORKDIR)/${{ parameters.envrionment }}"
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(WORKDIR)/${{ parameters.envrionment }}'
            commandOptions: -var-file="${{ parameters.envrionment }}.tfvars"
            environmentServiceNameAzureRM: 'ANIKET_Shared_Connection'