name: infra_monolithic

trigger: none

pool: Remote_Agent

parameters:
- name: environment
  displayName: Select Environment
  type: string
  default: dev
  values:
    - dev
    - prod

variables:
- name: WORKDIR
  value: $(System.DefaultWorkingDirectory)/env

stages:
- stage: Terraform
  displayName: Terraform Init Validate Plan
  jobs:
  - job: terraform
    displayName: Terraform Job
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(WORKDIR)/${{ parameters.environment }}'
        backendServiceArm: 'ANIKET_Shared_Connection'
        backendAzureRmStorageAccountName: 'backendstrg'
        backendAzureRmContainerName: 'strg'
        backendAzureRmKey: '${{ parameters.environment }}.terraform.tfstate'
    - task: SonarQubePrepare@8
      inputs:
        SonarQube: 'SonarQube'
        scannerMode: 'cli'
        configMode: 'manual'
        cliProjectKey: 'mahakal_project_mahakal_project_AZsXW_-gZHnJY6YKRiNH'
        cliSources: '$(WORKDIR)/${{ parameters.environment }}'
        extraProperties: |
         sonar.branch.name=main
         sonar.exclusions=**/.terraform/**,**/*.tfstate*

    - task: TerraformTask@5
      displayName: Terraform Validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(WORKDIR)/${{ parameters.environment }}'
    - task: SonarQubeAnalyze@8
      inputs:
        jdkversion: 'JAVA_HOME_17_X64'
    - task: SonarQubePublish@8
      inputs:
        pollingTimeoutSec: '300'
    # - task: TerraformTask@5
    #   displayName: Terraform Plan
    #   inputs:
    #     provider: 'azurerm'
    #     command: 'plan'
    #     workingDirectory: '$(WORKDIR)/${{ parameters.environment }}'
    #     # commandOptions: '-var-file=${{ parameters.environment }}.tfvars'
    #     environmentServiceNameAzureRM: 'ANIKET_Shared_Connection'